logs
ui/node_modules
ui/bower_components
ui/d.ts
ui/bower-task
public/
backend/node_modules
backend/lib
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
