logs
project/project/target
project/target
app/assets/ts-definitions
test/assets/ts-definitions
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
