logs
project/project/target
project/target
app/assets/ts-definitions
test/assets/ts-definitions
ui/node_modules
ui/bower_components
ui/d.ts
ui/bower-task
ui/src/main/typescripts/libs
public/
ui/src/test/typescripts/libs
ui/src/test/scripts
ui/src/test/libs
ui/src/test/stylesheets
ui/src/d.ts
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
