html{
    overflow-y: scroll;
}

body {
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0px auto;
}

.form-signin .form-control , .form-signin .btn{
    margin: 10px;
}

input[type=checkbox]#task-status{
    margin-right: 10px;
}

#task-menu {
    vertical-align: top;
}

ul.task-menu {list-style:none;}
ul.task-menu > li {float:right; margin-left: 10px;}

.task-button {float:right;}