body {
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0px auto;
}

.form-signin .form-control , .form-signin .btn{
    margin: 10px;
}

input[type=checkbox]#task-status{
    margin-right: 10px;
}

#task-menu {
    vertical-align: top;
}

ul.task-menu {list-style:none;}
ul.task-menu > li {float:right; margin-left: 10px;}

.task-button {float:right;}

.row {
    margin-right: -10px;
    margin-left: -10px;
}
.header {
    margin-right: 0px;
    margin-left: 0px;
}
.sidebar {
    position: absolute;
    left: 10px;
    top: 60px;
    width: 300px;
    height: 100%;

}

.content-space {
    position: absolute;
    top: 60px;
    left: 320px;
    right: 10px;

}

.content-space h1{
    border-top: 1px solid #008ee1;
    border-left: 7px solid #008ee1;
    border-bottom: 1px solid #008ee1;
    padding: .6em .8em;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.content-space h2{
    border-left: 7px solid #008ee1;
    border-bottom: 1px solid #008ee1;
    padding: .4em .6em;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.content-space h3{
    border-bottom: 1px solid #008ee1;
    padding: .2em .4em;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.form-group {
    margin-bottom: 5px;
}

.search-result {
    overflow-y:auto;
}

.navbar-item {
    padding: 15px;
    color: #fff;
}
.navbar-select {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}