body {
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0px auto;
}

.form-signin .form-control , .form-signin .btn{
    margin: 10px;
}

input[type=checkbox]#task-status{
    margin-right: 10px;
}

#task-menu {
    vertical-align: top;
}

ul.task-menu {list-style:none;}
ul.task-menu > li {float:right; margin-left: 10px;}

.task-button {float:right;}

.row {
    margin-right: -10px;
    margin-left: -10px;
}
.header {
    margin-right: 0px;
    margin-left: 0px;
}
.sidebar {
    position: absolute;
    left: 10px;
    top: 60px;
    width: 300px;
    height: 100%;

    background: #add8e6
}

.content-space {
    position: absolute;
    top: 60px;
    left: 320px;
    right: 10px;

    background: lightgoldenrodyellow
}

.form-group {
    margin-bottom: 5px;
}