<div ng-controller="TaskController" class="row">
    <div class="col-sm-4 well" ng-controller="SearchTaskCriterionController">
        <tabset>
            <tab heading="new criteria">
                <form role="form">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" ng-model="searchTitle">
                    </div>
                    <div class="form-group">
                        <label for="keywords">Keywords</label>
                        <input type="text" class="form-control" id="keywords" ng-model="searchText">
                    </div>
                    <div class="form-group">
                        <label for="tags">Tags</label>
                        <input type="text" id="tags" ui-select2="searchSelectOptions" ng-model="searchSelectedTags"
                               style="width:100%"/>
                    </div>
                    <div class="form-group">
                        <label for="sortOrder">Sort Order</label>
                        <input type="number" class="form-control" id="sortOrder" ng-model="searchSortOrder">
                    </div>
                    <button class="btn btn-default" ng-click="search(assemblyQuery())">Search</button>
                    <button class="btn btn-default" ng-click="addSearchCriterion()">Add</button>
                </form>
            </tab>
            <tab heading="criteria" active="listTabIsActive">
                <div class="list-group">
                    <div ng-repeat="cond in searchCriteria | orderBy:'sortOrder':false" class="list-group-item">
                        <a href="#" ng-click="search(cond.query)">{{cond.title}}</a>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>

    <div class="col-sm-8">
        <div class="row well" ng-hide="isEditing">
            <button type="button" class="btn btn-primary col-sm-1" ng-model="isEditing" btn-checkbox>
                +
            </button>
            <div class="col-sm-11">
                <input type="text" ng-model="searchTitle" class="form-control" placeholder="search title">
            </div>
        </div>

        <div class="panel panel-default" ng-show="isEditing">
            <div class="panel-body">
                <form ng-submit="addTask()" role="form" class="form">

                    <div class="form-group">
                        <input type="text" ng-model="inputTitle" class="form-control"
                               placeholder="input task name here" ng-disabled="sending"/>
                    </div>


                    <div class="form-group">
                        <textarea rows="{{getComfortableRowNumber(inputContent)}}" ng-model="inputContent"
                                  class="form-control"
                                  placeholder="add new task here" ng-disabled="sending"
                                  kick-focus="hasFocus"
                                  ui-keypress="{'ctrl-10':'keypress($event)'}"/>
                    </div>


                    <div class="form-group">
                        <label for="inputTags">tags</label>
                        <input id="inputTags" type="text" ui-select2="inputSelectOptions" ng-model="inputSelectedTags"
                               style="width:100%"/>
                    </div>

                    <div class="form-group">
                        <label>rate</label>
                        <rating value="rate" max="5" readonly="false"></rating>
                    </div>


                    <div class="form-group">
                        <label for="inputDueDate">due date</label>
                        {{dueDate | date:'yyyy/MM/dd' }}
                        <div id="inputDueDate" ui-date="{ dateFormat: 'yy/mm/dd' }" ng-model="dueDate"></div>
                    </div>

                    <input type="submit" value="add" class="btn btn-default pull-right" ng-disabled="sending"/>
                    <button type="button" class="btn btn-primary pull-right" ng-model="isEditing" btn-checkbox  btn-checkbox-true="false" btn-checkbox-false="true">
                        Close
                    </button>
                </form>
            </div>
        </div>

        <div ng-hide="isEditing">
            <div class="list-group">
                <div ng-repeat="item in tasks | limitTo:200 | filter:{title:searchTitle}" class="list-group-item clearfix" ng-controller="TaskItemController">
                    <a href="#" ng-click="load(item)" ng-hide="item.editable">
                        {{item.title}}
                        <span class="badge pull-right" ng-hide="isOpen">{{item.rate}}</span>
                        <!--
                          <span class="text-muted pull-right" ng-hide="isOpen">
                            <small>
                                created: {{item.createdAt}}, due:{{item.dueDate}}
                            </small>
                          </span>
                        -->
                    </a>

                    <div ng-if="isOpen">
                        <kick-item item="item"></kick-item>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
