<div class="container" ng-controller="ApplicationController">
    <form class="form-signin" ng-submit="login()">
        <h2 class="form-signin-heading">Please log in</h2>
        <input type="text" required name="username" ng-model="input_name" class="form-control" autocomplete="on" placeholder="Your name" autofocus>
        <input type="password" required name="password" ng-model="input_password" class="form-control" autocomplete="on" placeholder="Password">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
