[client]
default-character-set = utf8

[mysqld]
skip-character-set-client-handshake
character-set-server = utf8

ft_min_word_len=1

[mysqldump]
default-character-set = utf8

[mysql]
default-character-set = utf8
