<div ng-controller="HomeController" class="row">
    <div class="col-sm-12">
        <tabset>
            <tab heading="quick_notes">
                <div ng-repeat="note in quick_notes">
                    {{note}}
                </div>
            </tab>

            <tab heading="tasks">
                <div ng-repeat="task in tasks">
                    {{task}}
                </div>
            </tab>

            <tab heading="articles">
                <div ng-repeat="article in articles">
                    {{article}}
                </div>
            </tab>
        </tabset>
    </div>
</div>
