<form role="form" class="form">
    <div class="form-group">
        <input type="text" ng-model="item.title" class="form-control"
               placeholder="input title here" ng-disabled="sending"/>
    </div>

    <div class="form-group">
        <textarea ng-model="item.content"
                  class="form-control"
                  placeholder="input content here" ng-disabled="sending"
                  ng-style="{height:windowHeight-196}"
                >
        </textarea>
    </div>

    <div class="form-group">
        <input type="text" ui-select2="tagsSelectOption" ng-model="item.tags" style="width:100%"/>
    </div>

    <div class="form-group">
        <select ng-model="item.type" ng-options="t for t in types"></select>
        <div class="btn-group" ng-repeat="status in statuses[item.type]">
            <button type="button" class="btn btn-sm btn-default" ng-model="item.status" btn-radio="'{{status}}'">
                {{status}}
            </button>
        </div>

        <input type="text" ui-date="{ dateFormat: 'yy/mm/dd' }" ng-model="item.dueDate">
        <rating value="item.rate" max="5" readonly="false"></rating>
        <button ng-click="addItem(item)" class="btn btn-primary pull-right" ng-disabled="sending" ng-show="addItem">
            add
        </button>
        <button ng-click="updateItem(item)" class="btn btn-primary pull-right" ng-disabled="sending"
                ng-show="updateItem">save
        </button>
    </div>
</form>