<form ng-submit="addTask()" role="form" class="form">

    <div class="form-group">
        <input type="text" ng-model="item.title" class="form-control"
               placeholder="input title here" ng-disabled="sending"/>
    </div>

    <div class="form-group">
        <textarea ng-model="item.content"
                  class="form-control"
                  placeholder="input content here" ng-disabled="sending"
                  ng-style="{height:windowHeight-196}"
                >

        </textarea>
    </div>

    <div class="form-group">

            <input id="inputTags" type="text" ui-select2="tagsSelectOption" ng-model="item.tags" style="width:100%"/>


    </div>

    <div class="form-group">
        <input type="text" ui-date="{ dateFormat: 'yy/mm/dd' }" ng-model="item.dueDate">
        <rating value="item.rate" max="5" readonly="false"></rating>
        <input type="submit" value="add" class="btn btn-primary pull-right" ng-disabled="sending"/>
    </div>


</form>