<div ng-controller="ArticleController" class="row">
    <div class="col-sm-4 well">
        <input type="text" ui-select2="searchSelectOptions" ng-model="searchSelectedTags" style="width:100%"/>
        <button ng-click="searchTask()">search</button>
        {{searchSelectedTags | json}}
        <input ng-model="searchText">
        <button ng-click="addArticle()">new article</button>

        <div class="list-group">
            <div ng-repeat="title in titles | filter:searchText" class="list-group-item">
                <a href="" ng-click="loadArticle(title.id)">{{title.title}}</a>
            </div>
        </div>

    </div>

    <div class="col-sm-8">
        <div class="panel panel-default">
            <div class="panel-body">

                <tabset>
                    <tab heading="edit">
                        <form ng-submit="updateArticle()" role="form" class="form">
                            <input type="text" ng-model="title" class="form-control" />
                            <p>
                                <textarea rows="30" ng-model="content" class="form-control"
                                          placeholder="add new note here" ng-disabled="sending"
                                          kick-focus="hasFocus"
                                          ui-keypress="{'ctrl-10':'keypress($event)'}"/>
                            </p>
                            <input type="text" ui-select2="inputSelectOptions" ng-model="tags"
                                   style="width:100%"/>
                            {{tags | json}}
                            <rating value="rate" max="5" readonly="false"></rating>
                            <input type="submit" value="save" class="btn btn-default pull-right" ng-disabled="sending"/>
                        </form>
                    </tab>
                    <tab heading="preview">
                        <h3>
                            {{title}}
                        </h3>
                        <div ng-bind-html="toMarkdown(content)" />

                        <div class="text-muted">
                            {{tags.join(' ')}}
                        </div>
                        <rating class="pull-left" value="rate" max="5" readonly="true"></rating>
                        <span class="text-muted pull-right">
                            <small>
                                {{created}}
                            </small>
                        </span>
                    </tab>
                </tabset>

            </div>
        </div>
    </div>
</div>
