<div class="clearfix">
    <div>
        <div ng-bind-html-unsafe="item.renderedContent" ng-hide="item.editable"/>
        <textarea rows="{{getComfortableRowNumber(item.content)}}" ng-model="item.content" class="form-control"
                  ng-show="item.editable"/>
    </div>

    <div>
        <div class="text-muted" ng-hide="item.editable">
            {{item.tags.join(' ')}}
        </div>
        <div ng-show="item.editable">
            <input type="text" ui-select2="inputSelectOptions" ng-model="item.tags" style="width:100%"/>
        </div>
    </div>

    <div>

        <div class="btn-group" ng-show="item.editable">
            <button type="button" class="btn btn-sm btn-default" ng-model="item.status" btn-radio="'New'">
                <span class="glyphicon glyphicon-unchecked"></span>  New
            </button>
            <button type="button" class="btn btn-sm btn-default" ng-model="item.status" btn-radio="'Completed'">
                <span class="glyphicon glyphicon-check"></span>  Completed
            </button>
        </div>
        <br ng-show="item.editable"/>
        <rating class="pull-left" value="item.rate" max="5" readonly="!item.editable"></rating>

        <span class="text-muted pull-right">
            <small>
                {{item.dueDate}}
            </small>
        </span>
        <ul class="task-menu">
            <li ng-click="delete()" ng-hide="item.editable"><a href="#"><span
                    class="glyphicon glyphicon-trash"></span>Delete</a></li>
            <li ng-click="startEdit()" ng-hide="item.editable"><a href="#"><span
                    class="glyphicon glyphicon-edit"></span>Edit</a></li>
        </ul>

        <div class="task-button">
            <button class="btn btn-sm btn-primary" ng-disabled="!canUpdate()" ng-click="update()" ng-show="item.editable">update</button>
            <button class="btn btn-sm btn-default" ng-click="cancel()" ng-show="item.editable">cancel</button>
        </div>
    </div>

</div>