<div class="container" ng-controller="ApplicationController">
    <form class="form-signin" ng-submit="login()">
        <h2 class="form-signin-heading">Please log in</h2>
        <input type="text" ng-model="input_name" class="form-control" placeholder="Your name" autofocus>
        <input type="password" ng-model="input_password" class="form-control" placeholder="Password">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

    <p>{{input_name}}</p>
    <p>{{input_password}}</p>
    <p>{{loggedin}}</p>
</div>
