<div ng-controller="QuickNoteController" class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <form ng-submit="addQuickNote()" role="form" class="form">
                <p>
                    <textarea rows="3" ng-model="inputContent" class="form-control"
                              placeholder="add new note here" ng-disabled="sending"
                              kick-focus="hasFocus"
                              ui-keypress="{'ctrl-10':'keypress($event)'}"/>
                </p>

                <div class="row">
                <div class="col-lg-10">
                    <input id="select2Options" type="text" ui-select2="select2Options" ng-model="selectedTags"
                           style="width:100%"/>
                </div>
                <div class="col-lg-2">
                    <rating value="rate" max="5" readonly="false"></rating>
                </div>
                </div>
                <input type="submit" value="add" class="btn btn-default pull-right" ng-disabled="sending"/>
                preview: <input type="checkbox" ng-model="enablePreview"/>
            </form>
        </div>
    </div>
    <div class="panel panel-default" ng-show="enablePreview">
        <div class="panel-heading">Preview</div>
        <div class="panel-body">
            <div ng-bind-html-unsafe="toMarkdown(inputContent)"/>
        </div>
    </div>
    <div class="list-group">
        <div ng-repeat="note in quickNotes" class="list-group-item">

            <table width="100%">
                <tr>
                    <td>
                        <div ng-bind-html-unsafe="note.renderedContent" ng-hide="note.editable"/>
                        <textarea rows="3" ng-model="note.content" class="form-control"
                                  ng-show="note.editable"/>
                    </td>
                    <td width="30px">
                        <div id="note-menu" class="btn-group pull-right">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><input type="checkbox" ng-model="note.editable"/>edit</li>
                                <li><a href="#">delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="text-muted" ng-hide="note.editable">
                            {{note.tags.join(' ')}}
                        </div>
                        <div ng-show="note.editable">
                            <input type="text" ui-select2="select2Options" ng-model="note.tags" style="width:100%"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <rating class="pull-left" value="note.rate" max="5" readonly="!note.editable"></rating>
                            <span class="text-muted pull-right">
                                <small>
                                    {{note.createdAt}}
                                </small>
                            </span>
                    </td>
                </tr>
            </table>
            <button ng-click="updateQuickNote(note)"
                    ng-show="note.editable">update</button>

        </div>
    </div>
    {{quickNotes | json}}
</div>
