<h2>Item List</h2>
<div ng-controller="QuickNoteController">
    <form ng-submit="addQuickNote()" role="form" class="form">
        <textarea rows="3" ng-model="inputContent" class="form-control"
            placeholder="add new note here" ng-disabled="sending"
            kick-focus="hasFocus"
            ui-keypress="{'ctrl-10':'keypress($event)'}"/>
        <input type="text" ui-select2="select2Options" ng-model="selectedTags" style="width:300px" />
        <input type="submit" value="add" class="btn btn-default pull-right" ng-disabled="sending"/>
        <rating value="rate" max="5" readonly="false"></rating>
    </form>

    {{select2Options | json}}
    preview: <input type="checkbox" ng-model="enablePreview"/>
    <div ng-bind-html-unsafe="toMarkdown(inputContent)" ng-show="enablePreview" />

    <div class="list-group">
        <div ng-repeat="note in quickNotes" class="list-group-item">
            <p class="list-group-item-text">
                <div ng-bind-html-unsafe="toMarkdown(note.content)" />
            </p>
            <p class="list-group-item-text text-muted text-right">
                <small>
                    {{note.created}}
                </small>
            </p>
        </div>
    </div>
    {{quickNotes | json}}
</div>
