<h2>Search</h2>
<div ng-controller="SearchController">
    <form ng-submit="search(1)" role="form" class="form">
        <input type="text" ng-model="searchWords" class="form-control"
                  placeholder="search keywords" ng-disabled="searching"
                  kick-focus="hasFocus"
                  ui-keypress="{'enter':'keypress($event)'}"/>
        <input type="text" ui-select2="searchSelectOptions" ng-model="searchSelectedTags" ng-disabled="searching" style="width:100%"/>
        <input type="submit" value="search" class="btn btn-default" ng-disabled="searching"/>
    </form>

    <pagination total-items="totalItems" current-page="currentPage" max-size="maxSize"
        on-select-page="changePage(page)" class="pagination-small" boundary-links="true" rotate="false" num-pages="numPages">
    </pagination>
    <pre>Page: {{currentPage}} / {{numPages}} ({{maxSize}}, {{totalItems}})</pre>

    <div class="list-group">
        <div ng-repeat="item in items" class="list-group-item">
            <p class="list-group-item-text">
            <div ng-bind-html="item.content" />
            </p>
            <p class="list-group-item-text text-muted text-right">
                <small>
                    {{item.createdAt}}
                </small>
            </p>
        </div>
    </div>
</div>
