<div ng-controller="TaskController" class="row">
    <div class="col-sm-4 well">
        <input type="text" ui-select2="searchSelectOptions" ng-model="searchSelectedTags" style="width:100%"/>
        <button ng-click="searchTask()">search</button>
        {{searchSelectedTags | json}}
        <input ng-model="searchText">
    </div>

    <div class="col-sm-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <form ng-submit="addTask()" role="form" class="form">
                    <p>
                        <textarea rows="3" ng-model="inputContent" class="form-control"
                                  placeholder="add new note here" ng-disabled="sending"
                                  kick-focus="hasFocus"
                                  ui-keypress="{'ctrl-10':'keypress($event)'}"/>
                    </p>
                    <input type="text" ui-select2="inputSelectOptions" ng-model="inputSelectedTags"
                           style="width:100%"/>
                    {{inputSelectedTags | json}}
                    <rating value="rate" max="5" readonly="false"></rating>
                    <input ui-date="{ dateFormat: 'yy/mm/dd' }" ng-model="dueDate">
                    <input type="submit" value="add" class="btn btn-default pull-right" ng-disabled="sending"/>
                </form>
            </div>
        </div>

        <div class="list-group">
            <div ng-repeat="task in tasks | filter:searchText" class="list-group-item">

                <table width="100%">
                    <tr>
                        <td width="25px">
                            <input id="task-status" type="checkbox" ng-model="task.status" ng-true-value="Completed" ng-false-value="New"
                                   ng-change="updateTask($index)">
                        </td>
                        <td>
                            <div ng-bind-html-unsafe="toMarkdown(task.content)" ng-hide="task.editable"/>
                            <textarea rows="3" ng-model="task.content" class="form-control"
                                      ng-show="task.editable"/>
                        </td>
                        <td width="30px">
                            <div id="task-menu" class="btn-group pull-right">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><input type="checkbox" ng-model="task.editable"/>edit</li>
                                    <li><a href="#">delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <div class="text-muted" ng-hide="task.editable">
                                {{task.tags.join(' ')}}
                            </div>
                            <div ng-show="task.editable">
                                <input type="text" ui-select2="inputSelectOptions" ng-model="task.tags" style="width:100%"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <rating class="pull-left" value="task.rate" max="5" readonly="!task.editable"></rating>
                            <span class="text-muted pull-right">
                                <small>
                                    {{task.dueDate}}
                                </small>
                            </span>
                        </td>
                    </tr>
                </table>
                <button ng-click="updateTask($index)"
                        ng-show="task.editable">update</button>
            </div>
        </div>

        {{tasks | json}}
    </div>
</div>
