<div ng-controller="TaskController" class="row">
    <div class="col-sm-4 well" ng-controller="SearchTaskCriterionController">
        <tabset>
            <tab heading="new criteria">
                <form role="form">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" ng-model="searchTitle">
                    </div>
                    <div class="form-group">
                        <label for="keywords">Keywords</label>
                        <input type="text" class="form-control" id="keywords" ng-model="searchText">
                    </div>
                    <div class="form-group">
                        <label for="tags">Tags</label>
                        <input type="text" id="tags" ui-select2="searchSelectOptions" ng-model="searchSelectedTags"
                               style="width:100%"/>
                    </div>
                    <div class="form-group">
                        <label for="sortOrder">Sort Order</label>
                        <input type="number" class="form-control" id="sortOrder" ng-model="searchSortOrder">
                    </div>
                    <button class="btn btn-default" ng-click="search(assemblyQuery())">Search</button>
                    <button class="btn btn-default" ng-click="addSearchCriterion()">Add</button>
                </form>
            </tab>
            <tab heading="criteria" active="listTabIsActive">
                <div class="list-group">
                    <div ng-repeat="cond in searchCriteria | orderBy:'sortOrder':false" class="list-group-item">
                        <a href="#" ng-click="search(cond.query)">{{cond.title}}</a>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>

    <div class="col-sm-8">
        <tabset>
            <tab heading="new task">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form ng-submit="addTask()" role="form" class="form">

                            <div class="form-group">
                                <input type="text" ng-model="inputTitle" class="form-control"
                                       placeholder="input task name here" ng-disabled="sending"/>
                            </div>


                            <div class="form-group">
                                    <textarea rows="{{getComfortableRowNumber(inputContent)}}" ng-model="inputContent"
                                              class="form-control"
                                              placeholder="add new task here" ng-disabled="sending"
                                              kick-focus="hasFocus"
                                              ui-keypress="{'ctrl-10':'keypress($event)'}"/>
                            </div>


                            <div class="form-group">
                                <label for="inputTags">tags</label>
                                <input id="inputTags" type="text" ui-select2="inputSelectOptions" ng-model="inputSelectedTags"
                                       style="width:100%"/>
                            </div>

                            <div class="form-group">
                                <label >rate</label>
                                <rating value="rate" max="5" readonly="false"></rating>
                            </div>


                            <div class="form-group">
                                <label for="inputDueDate">due date</label>
                                <input id="inputDueDate" ui-date="{ dateFormat: 'yy/mm/dd' }" ng-model="dueDate">
                            </div>

                            <input type="submit" value="add" class="btn btn-default pull-right" ng-disabled="sending"/>
                        </form>
                    </div>
                </div>
            </tab>
            <tab>
                <tab-heading>
                    <span class="badge pull-right">{{todayCount}}</span>
                    today
                </tab-heading>
            </tab>
            <tab>
                <tab-heading>
                    <span class="badge pull-right">{{todayCount}}</span>
                    this week
                </tab-heading>
            </tab>
            <tab>
                <tab-heading>
                    <span class="badge pull-right">{{todayCount}}</span>
                    someday
                </tab-heading>
            </tab>
            <tab>
                <tab-heading>
                    <span class="badge pull-right">{{todayCount}}</span>
                    completed
                </tab-heading>
            </tab>
            <tab active="allTabIsActive">
                <tab-heading>
                    <span class="badge pull-right">{{todayCount}}</span>
                    all
                </tab-heading>
                <div ng-include src="'/assets/views/task.list.html'" ></div>
            </tab>
        </tabset>
    </div>
</div>
