<div class="sidebar" ng-show="setting.showSidebar" ng-style="{height: windowHeight-70}" ng-controller="SidebarController">
    <accordion close-others="true">
        <accordion-group is-open="activeAccordion.menu">
            <accordion-heading>
                menu<i class="pull-right glyphicon"
                       ng-class="{'glyphicon-chevron-down': activeAccordion.menu, 'glyphicon-chevron-right': !activeAccordion.menu}"></i>
            </accordion-heading>
            <div class="list-group">
                <div ng-repeat="criterion in criteria | orderBy:'sortOrder':false" class="list-group-item">
                    <!--
                    <a href="#" ng-click="search(criterion)">{{criterion.name}}</a>
                    -->
                    <a href="/list/{{criterion._id}}">{{criterion.name}}</a>
                </div>
            </div>
            最近開いた
            編集回数の多い？

            表示件数
            並び順
            更新日時
            rate
            タイトル名
            期日

        </accordion-group>
        <accordion-group is-open="activeAccordion.list">
            <accordion-heading>
                result<i class="pull-right glyphicon"
                         ng-class="{'glyphicon-chevron-down': activeAccordion.list, 'glyphicon-chevron-right': !activeAccordion.list}"></i>
            </accordion-heading>
            <div class="list-group search-result" ng-style="{height: windowHeight-250}">
                <div ng-repeat="item in items" class="list-group-item">
                    <a href="/items/{{item._id}}">{{item.title}}</a>
                </div>
            </div>
        </accordion-group>
        <accordion-group is-open="activeAccordion.criterion">
            <accordion-heading>
                criterion<i class="pull-right glyphicon"
                            ng-class="{'glyphicon-chevron-down': activeAccordion.criterion, 'glyphicon-chevron-right': !activeAccordion.criterion}"></i>
            </accordion-heading>
            <form role="form">
                <div class="form-group">
                    <label for="name">Search Name</label>
                    <input type="text" class="form-control" id="name" ng-model="current.name">
                </div>
                <div class="form-group">
                    <label for="keywords">Keywords</label>
                    <input type="text" class="form-control" id="keywords" ng-model="current.param.keywords">
                </div>
                <div class="form-group">
                    <label for="itemType">Type</label>
                    <select class="form-control" id="itemType" ng-model="current.param.type"
                            ng-options="t for t in types"></select>
                </div>
                <div class="form-group">
                    <label for="itemStatus">Status</label>
                    <select class="form-control" id="itemStatus" ng-model="current.param.status"
                            ng-options="s for s in statuses[current.param.type]"></select>
                </div>
                <div class="form-group">
                    <label for="tags">Tags</label>
                    <input type="text" id="tags" ui-select2="tagsSelectOption" ng-model="current.param.tags"
                           style="width:100%"/>
                </div>
                <div class="form-group">
                    <label for="sortOrder">Sort Order</label>
                    <input type="number" class="form-control" id="sortOrder" ng-model="current.sortOrder">
                </div>
                <button class="btn btn-default" ng-click="search(current)">Search</button>
                <button class="btn btn-default" ng-click="addCriterion(current)">add</button>
            </form>
        </accordion-group>
    </accordion>


</div>