@()

<h2>Item List</h2>
<div ng-controller="ItemController">
    <form ng-submit="add_item()" role="form" class="form">
        <textarea rows="3" ng-model="input_content" class="form-control" placeholder="add new item here" ng-disabled="sending" />
        <input type="submit" value="add" class="btn btn-default" ng-disabled="sending"/>
    </form>
    <div class="list-group">
        <div ng-repeat="item in items" class="list-group-item">
            <p class="list-group-item-text">
                <div ng-bind-html-unsafe="item.content" />
            </p>
            <p class="list-group-item-text text-muted text-right">
                <small>
                    {{item.created}}
                </small>
            </p>
        </div>
    </div>
    {{items | json}}
</div>
