@(title: String)(content: Html)

<!DOCTYPE html>
<html ng-app="sidekick-note">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))">
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap-theme.min.css"))">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))"></script>
        <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("angular.js"))"></script>
        <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))"></script>
        <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>

        <script type="text/javascript" src="@routes.Assets.at("javascripts/App.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/controllers/ItemController.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/services/ItemService.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/models/Item.js")"></script>
    </head>
    <body>
        @content
    </body>
</html>